.super-red{
    background: red;
}
.disabled{
    display: block;
    background: purple;
    transition: 800ms;
    height: 100px;
    width: 100px;
}
.hover{
    display: block;
    background: yellow;
    transition: 800ms;
    height: 400px;
    width:400px;
}